<div ng-controller="HomeController">
    <div class="home-header home-test">{{message}}</div>

    <form>
        <input type="text" ng-model="newTodo" placeholder="Add Todo..." />
        <input class="add-todo-button" type="submit" ng-click="addTodo();" />
    </form>

    <div class="todos">
        <div class="todo-item" ng-repeat="todo in todos">
            <div>{{todo.name}}</div><button class="delete-button" ng-click="deleteTodo(todo);">Delete Me</button>
        </div>
    </div>
</div>